@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

:root {
    --main-color: #0f2d69;
    --additional-color: #001e99;
    --bg-color: #eeeeee;
    --gray-50: #7f7f7f;
    --gray-25: #bfbfbf;
}

gradio-app {
    background-color: var(--bg-color) !important;
}

.gradio-container {
    color: var(--main-color) !important;
}
@media (max-width: 768px) {
    .app.svelte-wpkpf6.svelte-wpkpf6 {
        padding: 8px 16px;
    }
}

header {
    display: flex;
    border-bottom: 2px solid var(--gray-50);
    font-family: 'HSESans', sans-serif !important;
    color: var(--main-color);
    margin-bottom: 20px;
}

header > div {
    display: flex;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    width: 75%;
    padding: 20px 0;
    gap: 10px;
    border-right: 2px solid var(--main-color);
}

div.logo > img {
    width: 64px;
}

.logo-title > a {
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    line-height: 1.2;
}

.header-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: left;
    line-height: 1.2;
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 576px) {
    .header-text {
        display: none;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-right: none;
    }

    .logo-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .logo-title > a {
        font-size: 1.5rem; /* Делаем заголовок крупнее для мобильных */
        text-align: left; /* Центрируем текст */
    }
}

/* Переключатели */
.tabs {
    margin-top: 10px;
}

.tab-container::after {
    display: none !important;
}

.tab-container > button {
    color: #000000;
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

.tab-container > button.selected {
    color: var(--main-color);
    transition: color 0.2s ease;
}

.tab-container > button:hover {
    background-color: var(--main-color);
    color: #ffffff !important;
    transform: translateY(-1px);
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

.tab-container > button.selected:hover {
    color: #ffffff;
}

.tab-container > button.selected::after {
    content: '';
    display: block;
    margin: 5px auto 0;
    height: 2px; /* Толщина подчеркивания */
    background-color: var(--main-color);
    transition: width 0.2s ease; /* Плавный переход для подчеркивания */
}

.tabs .overflow-menu > button {
    background-color: var(--bg-color) !important;
    color: var(--main-color) !important;
}

.tabs .overflow-menu > button.overflow-item-selected {
    background-color: var(--main-color) !important;
}
.tabs .overflow-menu > button.overflow-item-selected > svg {
    color: #ffffff !important;
}

.tabs .overflow-dropdown {
    background-color: #fafafa !important;
    font-family: 'HSESans', sans-serif !important;
    margin-top: 5px;
}

.tabs .overflow-dropdown > button {
    color: #000;
    font-family: 'HSESans', sans-serif !important;
    font-size: 16px;
    text-transform: capitalize;
}

.tabs .overflow-dropdown > button.selected::after {
    background-color: var(--main-color);
}

.block h1 {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
}

.block h2 {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
}

.user-container > div {
    background-color: #fafafa !important;
    border: none !important;
    padding: 20px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

div.user-info {
    background-color: #fafafa !important;
}

div.user-info .has-info,
div.user-info > label > span {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
}

div.user-info p {
    color: #000000;
    font-family: 'HSESans', sans-serif !important;
}

div.user-info input {
    background-color: #fafafa !important;
    border: 1px solid #363636 !important;
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
    box-shadow: none !important;
}

div.user-info input:focus {
    background-color: #fafafa !important;
    border: 1px solid var(--main-color) !important;
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
    box-shadow: 0 0 0 1px var(--main-color), 0px 2px 4px 0px rgba(0, 0, 0, 0.1) inset !important;
}

div.dropdown-user {
    background-color: #fafafa !important;
}

div.dropdown-user .has-info,
div.dropdown-user span[data-testid='block-info'] {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
}

div.dropdown-user p {
    color: #000000;
    font-family: 'HSESans', sans-serif !important;
}

div.dropdown-user .wrap {
    background-color: #fafafa !important;
    height: 42px;
    border: 1px solid #363636 !important;
    font-family: 'HSESans', sans-serif !important;
}

div.dropdown-user .wrap .options {
    background-color: #fafafa !important;
    margin-top: 5px;
}

div.dropdown-user .wrap .options > li {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
    background-color: #fafafa !important;
}

div.dropdown-user .wrap .options > li.selected {
    background-color: #dfdede !important;
}

div.dropdown-user .wrap .options > li:hover {
    background-color: #dfdede !important;
}

div.dropdown-user .wrap input {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

div.dropdown-user .secondary-wrap input:disabled {
    color: #363636 !important;
    -webkit-text-fill-color: #363636 !important;
}

div.dropdown-user .dropdown-arrow {
    color: #363636;
}

@media (max-width: 480px) {
    .user-container {
        display: flex;
        flex-direction: column; /* Располагаем элементы в столбик */
        gap: 15px; /* Добавляем отступы между полями */
    }

    div.user-info,
    div.dropdown-user {
        width: 100%; /* Полная ширина полей */
    }

    div.user-info input,
    div.dropdown-user .wrap {
        width: 100%; /* Полная ширина элементов ввода */
    }
}

@media (min-width: 568px) and (max-width: 1024px) {
    .user-container {
        display: flex;
        flex-wrap: wrap; /* Позволяет элементам переноситься */
        gap: 15px; /* Отступы между элементами */
    }

    div.user-info {
        flex: 1 1 calc(50% - 7.5px); /* Ширина для первых двух инпутов с учетом отступов */
        min-width: calc(50% - 7.5px); /* Минимальная ширина для первых двух элементов */
    }

    div.dropdown-user {
        flex: 1 1 100%;
        min-width: 100%;
        order: 2;
    }
}

.noti_err {
    color: var(--additional-color);
    font-family: 'HSESans', sans-serif !important;
}

.noti_true {
    color: #006900;
    font-family: 'HSESans', sans-serif !important;
}

div.app-flex-container {
    display: flex;
    gap: 6px;
}

.auth-container {
    margin-top: 10px;
}

button.account,
button.auth,
button.start_evaluate,
button.send_evaluate {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'HSESans', sans-serif !important;
    border: var(--button-border-width) solid var(--button-primary-border-color);
    background: var(--main-color);
    color: var(--button-primary-text-color);
    border-radius: 4px;
    transition: all 0.3s ease;
}

button.account.show {
    flex: none !important;
    flex-grow: 0 !important;
}

button.account.hide,
button.auth.hide {
    display: none;
}

button.account[disabled],
button.auth[disabled],
button.start_evaluate[disabled],
button.send_evaluate[disabled],
button.send_message[disabled] > img {
    cursor: not-allowed;
    opacity: 0.6;
}

button.account:hover:not([disabled]),
button.auth:hover:not([disabled]),
button.start_evaluate:hover:not([disabled]),
button.send_evaluate:hover:not([disabled]) {
    border-color: var(--button-primary-border-color-hover);
    background: var(--additional-color);
    color: var(--button-primary-text-color-hover);
}

button.account:active:not([disabled]),
button.auth:active:not([disabled]),
button.start_evaluate:active:not([disabled]),
button.send_evaluate:active:not([disabled]) {
    transform: scale(0.98);
}

.user-container .wrap.default {
    background-color: #fafafa !important;
}

@media (max-width: 768px) {
    .account-container {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .account-container button {
        width: 100%;
    }
    .account-container h1 {
        font-size: 24px;
    }
}

div.dropdown-user .wrap.default {
    background-color: #fafafa !important;
    height: 100%;
    border: none !important;
}

div.step-2 {
    margin-top: -15px;
    overflow: visible !important;
}

.chatbot-container .chatbot {
    background-color: #fafafa !important;
    border: none !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    font-family: 'HSESans', sans-serif !important;
}

.chatbot-container .chatbot .bubble-wrap {
    background-color: #fafafa !important;
}

.chatbot-container .chatbot .wrapper > label {
    background-color: var(--main-color);
    max-width: 85%;
    font-family: 'HSESans', sans-serif !important;
    color: #ffffff !important;
}

.chatbot-container .chatbot .message-wrap {
    margin-top: 20px;
}

.chatbot-container .chatbot .message-wrap .user-row .message {
    background-color: rgb(220 230 252) !important;
}

@media (max-width: 768px) {
    .chatbot-container .chatbot .wrapper > label {
        display: none;
    }

    .chatbot-container .chatbot .message-wrap > .message-row {
        display: flex;
        flex-direction: column;
    }

    .chatbot-container .chatbot .message-wrap > .message-row > .avatar-container {
        margin-bottom: 5px;
    }

    .chatbot-container .chatbot .message-wrap > .message-row.user-row {
        flex-direction: column-reverse;
    }

    .chatbot-container .chatbot .message-wrap > .message-row.user-row > .avatar-container {
        align-self: flex-end;
        margin-right: 0px;
    }

    .chatbot-container .chatbot .message-wrap > .bubble.with-avatar {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

.chatbot-container .chatbot .placeholder-content {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

.message-container {
    align-items: center;
}

.message-container > div {
    background-color: #fafafa !important;
    border: 1px solid #363636 !important;
}

.message-container > div > div {
    background-color: #fafafa !important;
}

.message-container .input-container > textarea,
div.add_evals-container > div.form > div.feedback > label > div > textarea {
    background-color: #fafafa !important;
    font-family: 'HSESans', sans-serif !important;
    color: #363636;
    border: 1px solid transparent !important;
}

.message-container .input-container > textarea:focus {
    border: 1px solid var(--main-color) !important;
    box-shadow: 0 0 0 1px var(--main-color), 0px 2px 4px 0px rgba(0, 0, 0, 0.1) inset !important;
}

div.add_evals-container > div.form > div.feedback > label > div > textarea {
    border: 1px solid #ff0000 !important;
}

div.add_evals-container > div.form > div.feedback > label > div > textarea:focus {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 1), 0px 2px 4px 0px rgba(255, 0, 0, 0.1) inset !important;
}

.message-container .wrap {
    background-color: #fafafa !important;
}

.message-wrap .message {
    background-color: #fafafa !important;
}

.chatbot-container .image-preview {
    background-color: #fafafa !important;
}

.icon-button-wrapper.svelte-sr71km {
    background-color: #fafafa !important;
}
.chatbot-container .icon-button-wrapper {
    border-radius: 5px;
    border: none !important;
    border-width: 0;
}

.chatbot-container .icon-button-wrapper > button {
    color: #0f2d69;
    background-color: #e0e7ff;
    border: none;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chatbot-container .icon-button-wrapper > button svg {
    color: #363636;
}

.chatbot-container .icon-button-wrapper > button:hover {
    background-color: #b3c7ff; /* Более тёмный оттенок фона для интерактивного эффекта */
    transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.icon-button-wrapper.top-panel {
    top: 3px;
    right: 15px;
}
button.send_message {
    display: contents;
}

button.send_message > img {
    width: 36px;
    height: 36px;
    transition: all 0.3s ease;
}

.chatbot-container .progress-text {
    background-color: #fafafa !important;
}

.message-container .eta-bar {
    background-color: var(--main-color);
}

div.avatar-container {
    justify-content: center;
    align-items: center;
}

div.chatbot img[alt='bot avatar'],
div.chatbot img[alt='user avatar'] {
    width: 128px;
}

div.edu-group:not(:first-child) {
    margin-top: 10px;
}

div.edu-group > span {
    display: block;
    text-align: center;
    color: #000000 !important;
    font-size: 18px;
    font-weight: bold;
}

div.subject-info,
div.subject-info-static {
    padding: 10px;
}

div.subject-info-static > div.info,
div.subject-info > div.info {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom-width: 3px;
    border-bottom-color: var(--main-color);
}

div.subject-info-static > div.info:last-child,
div.subject-info > div.info:last-child {
    border-bottom-width: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.subject-info > div.info > div.item {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: 'HSESans', sans-serif !important;
    font-size: 20px;
    color: #ffffff !important;
    right: 20px;
    background: var(--main-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

@media (max-width: 1024px) {
    div.subject-info > div.info > div.item {
        position: static;
        width: 20px;
        height: 20px;
        font-size: 0.9rem;
        margin-bottom: 5px;
    }
}

div.subject-info > div.info > div.info-item:last-child,
div.subject-info > div.info > div.info-courses-grades:last-child {
    border-bottom: none;
}

div.subject-info > div.info > div.info-courses-grades,
div.subject-info > div.info > div.info-courses-grades-error {
    margin-left: 15px;
}

div.add_evals-container > div.form,
div.add_evals-container > div.add-range {
    border: 1px solid #ff0000 !important;
}

div.add_evals-container > div.add-range,
div.add_evals-container > div.form > div.feedback {
    background-color: rgb(250, 250, 250) !important;
    box-shadow: var(--block-shadow);
    border-radius: var(--block-radius);
    overflow-y: hidden;
    padding: var(--block-padding);
}

div.add-range > div.range,
div.subject-info > div.info > div.range {
    display: flex;
}

div.edu-group > div.subject-info div.range {
    gap: 10px;
}

@media (max-width: 768px) {
    div.edu-group > div.subject-info div.range {
        flex-direction: column;
        gap: 0px;
    }
}

div.add-range > div.wrap {
    background-color: #fafafa !important;
    height: 100%;
    display: flex;
}

div.add-range > div.wrap > div.progress-text {
    bottom: 0px;
}

div.add-range > div.range {
    flex-direction: column;
}

div.add-range > div.range:not(:first-child) {
    margin-top: 10px;
}

div.subject-info > div.info > div.range > label,
div.subject-info > div.info > div.range > output,
div.add-range > div.range > label,
div.add-range > div.range > output {
    font-family: 'HSESans', sans-serif !important;
    color: #ff0000;
}

div.subject-info > div.info > div.range > label,
div.add-range > div.range > label,
div.subject-info > div.info > div.info-item > span.label,
div.subject-info > div.info > div.info-courses-grades > span.label,
div.subject-info > div.info > div.info-skills > span.label,
div.subject-info-static > div.info > div.info-skills > span.label,
div.subject-info > div.info > div.info-skills-static > span.label,
div.subject-info > div.info > div.info-item-error > span.label,
div.subject-info > div.info > div.info-skills-error > span.label,
div.subject-info > div.info > div.info-number-education-error > span.label,
div.subject-info > div.info > div.info-courses-grades-error > span.label {
    font-weight: bold;
}

div.subject-info-static > div.info > div.info-skills > span.label,
div.subject-info > div.info > div.info-skills > span.label,
div.subject-info > div.info > div.info-skills-static > span.label {
    color: #000000 !important;
}

div.subject-info > div.info > div.info-skills > span.label > span.important {
    color: #ff0000 !important;
}

div.subject-info > div.info > div.info-item-error > span.label,
div.subject-info > div.info > div.info-skills-error > span.label,
div.subject-info > div.info > div.info-number-education-error > span.label,
div.subject-info > div.info > div.info-courses-grades-error > span.label {
    color: var(--color-accent);
}

div.subject-info-static > div.info > div.info-skills > span.value > span.skill,
div.subject-info > div.info > div.info-skills > span.value > span.skill,
div.subject-info > div.info > div.info-skills-static > span.value > span.skill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #fafafa !important;
    border: 2px solid var(--main-color);
    color: #000000;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
}

div.subject-info-static > div.info > div.info-skills > span.value > span.skill,
div.subject-info > div.info > div.info-skills-static > span.value > span.skill {
    cursor: default;
}

div.subject-info > div.info > div.info-skills > span.value > span.skill.deleted {
    border: 2px solid #ff0000;
    background-color: #ffd6d6 !important;
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 1), 0px 2px 4px 0px rgba(255, 0, 0, 0.1) inset;
}

@media (max-width: 768px) {
    div.subject-info-static > div.info > div.info-skills > span.value > span.skill,
    div.subject-info > div.info > div.info-skills > span.value > span.skill,
    div.subject-info > div.info > div.info-skills-static > span.value > span.skill {
        font-size: 0.9rem;
        padding: 2px 5px;
        margin: 6px 5px 0px 0px;
    }
}

div.subject-info > div.info > div.info-skills {
    display: flex;
    flex-direction: column;
}

.message-wrap .message > button {
    color: #000000 !important;
}

.message.user .chatbot.prose p {
    color: #000000 !important;
}

.info .info-skills > .label,
.info .info-skills-static > .label {
    color: #000000 !important;
}

.info .info-item span,
.info .info-courses-grades span {
    color: #000000 !important;
}

@media (max-width: 568px) {
    .info .info-skills > .label,
    .info .info-skills-static > .label,
    .info .range > label,
    .info .info-item span,
    .info .info-courses-grades span,
    .info .info-number-education-error span {
        font-size: 0.9rem;
    }
}

.message-container .error {
    background-color: #fafafa !important;
    font-family: 'HSESans', sans-serif !important;
    color: #000000;
}

.row-1-container > div {
    background-color: #fafafa !important;
    border: none !important;
    padding: 20px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.settings-item {
    background-color: #fafafa !important;
}

.settings-item .has-info {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
}

.settings-item p {
    color: #000000;
    font-family: 'HSESans', sans-serif !important;
}

.settings-item input {
    background-color: #fafafa;
    border: 1px solid #363636;
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

.settings-item input:focus {
    background-color: #fafafa;
    border: 1px solid var(--main-color);
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
    box-shadow: 0 0 0 1px var(--main-color), 0px 2px 4px 0px rgba(0, 0, 0, 0.1) inset;
}

.settings-item input:out-of-range {
    border: 1px solid #ff0000;
    background-color: #ffe6e6;
    box-shadow: none;
}

.settings-item input:focus:out-of-range {
    border: 1px solid #ff0000;
    background-color: #ffd6d6;
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 1), 0px 2px 4px 0px rgba(255, 0, 0, 0.1) inset;
}

div.dropdown-add-vacancy-skills,
div.dropdown-add-subjects-skills,
div.dropdown-models,
div.dropdown-courses-grades {
    background-color: #fafafa !important;
}

div.gradio-container > div.main > div.wrap > div.contain > div.column > div.tabs > div.tabitem > div.column > div.form {
    border: none;
}

div.dropdown-add-subjects-skills {
    border: 1px solid #ff0000 !important;
}

div.dropdown-add-vacancy-skills span[data-testid='block-info'],
div.dropdown-add-subjects-skills span[data-testid='block-info'],
div.add_evals-container span[data-testid='block-info'],
div.dropdown-models .has-info,
div.dropdown-courses-grades .has-info {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
}

div.dropdown-add-vacancy-skills span[data-testid='block-info'],
div.dropdown-add-subjects-skills span[data-testid='block-info'],
div.add_evals-container span[data-testid='block-info'] {
    color: #ff0000;
}

div.dropdown-models p,
div.dropdown-courses-grades p {
    color: #000000;
    font-family: 'HSESans', sans-serif !important;
}

div.dropdown-models div.wrap {
    background-color: #fafafa !important;
    height: 42px;
    border: 1px solid #363636 !important;
    font-family: 'HSESans', sans-serif !important;
}

div.dropdown-models div.wrap .options {
    background-color: #fafafa !important;
    margin-top: 5px;
}

div.add_evals-container > div.form > div.feedback > div.wrap {
    background-color: #fafafa !important;
}

div.dropdown-models div.wrap .options > li {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
    background-color: #fafafa !important;
}

div.dropdown-models div.wrap .options > li.selected {
    background-color: #dfdede !important;
}

div.dropdown-models div.wrap .options > li:hover {
    background-color: #dfdede !important;
}

div.dropdown-models div.wrap input {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

div.dropdown-models div.secondary-wrap input,
div.dropdown-models div.secondary-wrap input:disabled {
    color: #363636 !important;
    -webkit-text-fill-color: #363636 !important;
}

div.dropdown-models svg.dropdown-arrow {
    color: #363636;
}

@media (max-width: 568px) {
    .row-1-container {
        display: flex;
        flex-direction: column; /* Располагаем элементы в столбик */
        gap: 15px; /* Добавляем отступы между полями */
    }

    .settings-item,
    div.dropdown-add-vacancy-skills,
    div.dropdown-add-subjects-skills,
    div.dropdown-models,
    div.dropdown-courses-grades {
        width: 100%; /* Полная ширина полей */
    }

    .settings-item input,
    div.dropdown-add-vacancy-skills div.wrap,
    div.dropdown-add-subjects-skills div.wrap,
    div.dropdown-models div.wrap,
    div.dropdown-courses-grades div.wrap {
        width: 100%; /* Полная ширина элементов ввода */
    }
}

@media (min-width: 568px) and (max-width: 1024px) {
    .row-1-container {
        display: flex;
        flex-wrap: wrap; /* Позволяет элементам переноситься */
        gap: 15px; /* Отступы между элементами */
    }

    .row-1-container > .form {
        display: flex;
        flex-wrap: wrap; /* Позволяет элементам внутри переноситься */
        width: 100%; /* Обеспечиваем полную ширину формы */
    }

    .row-1-container .settings-item {
        flex: 1 1 calc(50% - 7.5px); /* Первые два элемента занимают 50% ширины */
        min-width: calc(50% - 7.5px); /* Минимальная ширина для первых двух элементов */
    }
    .row-1-container .has-info:first-of-type {
        width: 70%;
    }

    .row-1-container .dropdown-models {
        flex: 1 1 100%; /* Третий элемент занимает всю ширину */
        min-width: 100%; /* Минимальная ширина - вся ширина контейнера */
        order: 2; /* Устанавливаем порядок, чтобы этот элемент был последним */
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .row-1-container .has-info:first-of-type {
        width: 70%;
    }
}

div.dropdown-add-vacancy-skills div.wrap,
div.dropdown-add-subjects-skills div.wrap,
div.dropdown-courses-grades div.wrap {
    background-color: #fafafa !important;
    border: 1px solid #363636 !important;
    font-family: 'HSESans', sans-serif !important;
}

div.dropdown-add-vacancy-skills div.wrap,
div.dropdown-add-subjects-skills div.wrap {
    border: 1px solid #ff0000 !important;
}

div.dropdown-add-vacancy-skills div.wrap:focus-within,
div.dropdown-add-subjects-skills div.wrap:focus-within {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 1), 0px 2px 4px 0px rgba(255, 0, 0, 0.1) inset;
}

div.dropdown-courses-grades div.wrap .options {
    background-color: #fafafa !important;
    margin-top: 5px;
}

div.dropdown-courses-grades div.wrap .options > li {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
    background-color: #fafafa !important;
}

div.dropdown-courses-grades div.wrap .options > li.selected {
    background-color: #dfdede !important;
}

div.dropdown-courses-grades div.wrap .options > li:hover {
    background-color: #dfdede !important;
}

div.dropdown-courses-grades div.wrap input {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

div.dropdown-add-vacancy-skills div.secondary-wrap input,
div.dropdown-add-subjects-skills div.secondary-wrap input,
div.dropdown-courses-grades div.secondary-wrap input,
div.dropdown-add-vacancy-skills div.secondary-wrap input:disabled,
div.dropdown-add-subjects-skills div.secondary-wrap input:disabled,
div.dropdown-courses-grades div.secondary-wrap input:disabled {
    color: #363636 !important;
    -webkit-text-fill-color: #363636 !important;
}

.dropdown-courses-grades svg.dropdown-arrow {
    color: #363636;
}

.dropdown-add-vacancy-skills svg.dropdown-arrow,
.dropdown-add-subjects-skills svg.dropdown-arrow {
    color: #ff0000;
}

div.dropdown-add-vacancy-skills div.token,
div.dropdown-add-subjects-skills div.token,
div.dropdown-courses-grades div.token {
    border-radius: 4px;
    border-color: var(--main-color);
    background-color: #fafafa !important;
}

div.dropdown-add-vacancy-skills div.token,
div.dropdown-add-subjects-skills div.token {
    border-color: #ff0000;
    background-color: rgb(255, 214, 214) !important;
}

div.dropdown-add-vacancy-skills div.token > span,
div.dropdown-add-subjects-skills div.token > span,
div.dropdown-courses-grades div.token > span {
    font-family: 'HSESans', sans-serif !important;
    color: #000000;
}

div.dropdown-add-vacancy-skills div.token-remove,
div.dropdown-add-subjects-skills div.token-remove,
div.dropdown-courses-grades div.token-remove {
    background-color: var(--main-color);
}

div.dropdown-add-vacancy-skills div.token-remove,
div.dropdown-add-subjects-skills div.token-remove {
    background-color: #ff0000;
    border: none !important;
}

div.dropdown-add-vacancy-skills div.token-remove > svg,
div.dropdown-add-subjects-skills div.token-remove > svg,
div.dropdown-courses-grades div.token-remove > svg {
    fill: #fafafa !important;
}

.requirements-dataframe .table-wrap {
    font-family: 'HSESans', sans-serif !important;
    border: none !important;
}

.requirements-dataframe .table-wrap .thead > tr > th {
    background-color: #fafafa !important;
    color: #000000;
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
}

.requirements-dataframe {
    padding: 20px 10px 25px 10px;
    background-color: #fafafa !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.requirements-dataframe .table-wrap .tbody > tr > td {
    background-color: #fafafa !important;
    color: #000000;
}

.requirements-dataframe .table-wrap .tbody > tr > td p {
    color: #000000;
}

.show-api,
.built-with {
    display: none !important;
    opacity: 0 !important;
}

.svelte-zyxd38.margin > svg > g > path {
    fill: var(--main-color);
}

.message-container .svelte-zyxd38.margin > svg > g > path {
    fill: var(--gray-25);
}

div.subject-info > div.info > div.range > div.subject_relevance,
div.add-range > div.range > div.slider-container {
    width: 250px;
}

@media (max-width: 425px) {
    div.subject-info > div.info > div.range > div.subject_relevance {
        width: 150px !important;
    }

    div.add-range > div.range > div.slider-container {
        width: 225px;
    }
}

div.subject-info > div.info > div.range > div.subject_relevance > div.slider,
div.add-range > div.range > div.slider-container > div.slider {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #ff0000;
}

div.subject-info > div.info > div.range > div.subject_relevance > div.slider > input[type='range'],
div.add-range > div.range > div.slider-container > div.slider > input[type='range'] {
    outline: none;
    height: 4px;
    flex-grow: 1;
    color: inherit;
    margin-right: 1em;
    margin-top: 3px;
    background-color: #e3e3e3;
    background-image: linear-gradient(#ff0000, #ff0000);
    background-size: 0 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    appearance: none;
}

div.subject-info
    > div.info
    > div.range
    > div.subject_relevance
    > div.slider
    > input[type='range']::-webkit-slider-runnable-track,
div.subject-info > div.info > div.range > div.subject_relevance > div.slider > input[type='range']::-moz-range-track,
div.add-range > div.range > div.slider-container > div.slider > input[type='range']::-webkit-slider-runnable-track,
div.add-range > div.range > div.slider-container > div.slider > input[type='range']::-moz-range-track {
    border: none;
    background: transparent;
    appearance: none;
}

div.subject-info
    > div.info
    > div.range
    > div.subject_relevance
    > div.slider
    > input[type='range']::-webkit-slider-thumb,
div.add-range > div.range > div.slider-container > div.slider > input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 0;
    background: #ff0000;
    border-radius: 50%;
}

div.subject-info > div.info > div.range > div.subject_relevance > div.slider > input[type='range']::-moz-range-thumb,
div.add-range > div.range > div.slider-container > div.slider > input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 0;
    background: #ff0000;
    border-radius: 50%;
}

/* Стили значения слайдера */
div.subject-info > div.info > div.range > div.subject_relevance > div.slider > div.slider-value,
div.add-range > div.range > div.slider-container > div.slider > div.slider-value {
    display: inline-block;
    position: relative;
    height: 1.5em;
}

div.subject-info > div.info > div.range > div.subject_relevance > div.slider > div.slider-value::before,
div.subject-info > div.info > div.range > div.subject_relevance > div.slider > div.slider-value::after,
div.add-range > div.range > div.slider-container > div.slider > div.slider-value::before,
div.add-range > div.range > div.slider-container > div.slider > div.slider-value::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 0.25em;
}

div.subject-info > div.info > div.range > div.subject_relevance > div.slider > div.slider-value::before,
div.add-range > div.range > div.slider-container > div.slider > div.slider-value::before {
    top: 0;
    background: linear-gradient(#ffffff, rgba(255, 255, 255, 0));
}

div.subject-info > div.info > div.range > div.subject_relevance > div.slider > div.slider-value::after,
div.add-range > div.range > div.slider-container > div.slider > div.slider-value::after {
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
}

/* Стили контейнера чисел */
div.subject-info
    > div.info
    > div.range
    > div.subject_relevance
    > div.slider
    > div.slider-value
    > div.slider-value-number,
div.add-range > div.range > div.slider-container > div.slider > div.slider-value > div.slider-value-number {
    height: 1em;
    overflow: hidden;
    display: inline-block;
    padding: 0.25em 0;
    user-select: none;
    font-weight: 600;
}

div.subject-info
    > div.info
    > div.range
    > div.subject_relevance
    > div.slider
    > div.slider-value
    > div.slider-value-number
    > ul,
div.add-range > div.range > div.slider-container > div.slider > div.slider-value > div.slider-value-number > ul {
    margin-top: -0.6em;
    padding: 0;
    list-style-type: none;
    transition: transform 0.75s ease, opacity 0.5s ease;
}

div.subject-info
    > div.info
    > div.range
    > div.subject_relevance
    > div.slider
    > div.slider-value
    > div.slider-value-number
    > ul
    > li,
div.add-range > div.range > div.slider-container > div.slider > div.slider-value > div.slider-value-number > ul > li {
    color: #ff0000;
    height: 1em;
    display: block;
    margin: 0;
    padding: 0.25em 0;
    font-family: 'HSESans', sans-serif !important;
}

div.user-instruction > div.instruction_text {
    background-color: #fafafa !important;
    font-family: 'HSESans', sans-serif !important;
    border: 1px solid var(--main-color) !important;
    box-shadow: var(--block-shadow);
    border-radius: var(--block-radius);
    overflow-y: hidden;
    padding: var(--block-padding);
}

div.user-instruction > div.instruction_text p,
div.user-instruction > div.instruction_text li {
    color: #363636;
}

div.user-instruction > div.instruction_text ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 20px;
}
div.user-instruction > div.instruction_text li > span {
    background-color: #dfdede !important;
    padding: 3px 5px;
    color: var(--main-color) !important;
}
