@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

:root {
    --main-color: #0f2d69;
    --additional-color: #001e99;
    --bg-color: #eeeeee;
    --gray-50: #7f7f7f;
    --gray-25: #bfbfbf;
}

gradio-app {
    background-color: var(--bg-color) !important;
}

.gradio-container {
    color: var(--main-color) !important;
}

header {
    display: flex;
    border-bottom: 2px solid var(--gray-50);
    font-family: 'HSESans', sans-serif !important;
    color: var(--main-color);
    margin-bottom: 20px;
}

header > div {
    display: flex;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    width: 75%;
    padding: 20px 0;
    gap: 10px;
    border-right: 2px solid var(--main-color);
}

div.logo > img {
    width: 64px;
}

.logo-title > a {
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    line-height: 1.2;
}

.logo-title > a:hover {
    color: var(--additional-color);
}

.header-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: left;
    line-height: 1.2;
}

.tabs {
    margin-top: 10px;
}

.tab-container::after {
    display: none !important;
}

.tab-container > button {
    color: #000;
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.tab-container > button.selected {
    color: var(--main-color);
}

.tab-container > button:hover {
    background-color: var(--main-color);
    color: #fff !important;
}

.tab-container > button.selected:hover {
    color: #fff;
}

.tab-container > button.selected::after {
    background-color: var(--main-color);
}

.block h1 {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
}

.block h2 {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
}

.user-container > div {
    background-color: #fafafa !important;
    border: none !important;
    padding: 20px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.user-info {
    background-color: #fafafa !important;
}

.user-info .has-info {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
}

.user-info p {
    color: #000;
    font-family: 'HSESans', sans-serif !important;
}

.user-info input {
    background-color: #fafafa !important;
    border: 1px solid #363636 !important;
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

.user-info input:focus {
    background-color: #fafafa !important;
    border: 1px solid var(--main-color) !important;
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

.dropdown-user {
    background-color: #fafafa !important;
}

.dropdown-user .has-info {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
}

.dropdown-user p {
    color: #000;
    font-family: 'HSESans', sans-serif !important;
}

.dropdown-user .wrap {
    background-color: #fafafa !important;
    height: 42px;
    border: 1px solid #363636 !important;
    font-family: 'HSESans', sans-serif !important;
}

.dropdown-user .wrap .options {
    background-color: #fafafa !important;
    margin-top: 5px;
}

.dropdown-user .wrap .options > li {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
    background-color: #fafafa !important;
}

.dropdown-user .wrap .options > li.selected {
    background-color: #dfdede !important;
}

.dropdown-user .wrap .options > li:hover {
    background-color: #dfdede !important;
}

.dropdown-user .wrap input {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

.dropdown-user .secondary-wrap input:disabled {
    color: #363636 !important;
    -webkit-text-fill-color: #363636 !important;
}

.dropdown-user .dropdown-arrow {
    color: #363636;
}

.noti_err {
    color: var(--additional-color);
    font-family: 'HSESans', sans-serif !important;
}

.noti_true {
    color: #006900;
    font-family: 'HSESans', sans-serif !important;
}

div.app-flex-container {
    display: flex;
    gap: 6px;
}

.auth-container {
    margin-top: 10px;
}

button.auth {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'HSESans', sans-serif !important;
    border: var(--button-border-width) solid var(--button-primary-border-color);
    background: var(--main-color);
    color: var(--button-primary-text-color);
    border-radius: 4px;
    transition: all 0.3s ease;
}

button.auth[disabled],
button.send_message[disabled] > img {
    cursor: not-allowed;
    opacity: 0.6;
}

button.auth:hover:not([disabled]) {
    border-color: var(--button-primary-border-color-hover);
    background: var(--additional-color);
    color: var(--button-primary-text-color-hover);
}

button.auth:active:not([disabled]) {
    transform: scale(0.98);
}

.user-container .wrap.default {
    background-color: #fafafa !important;
}

.dropdown-user .wrap.default {
    background-color: #fafafa !important;
    height: 100%;
    border: none !important;
}

.chatbot-container .chatbot {
    background-color: #fafafa !important;
    border: none !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    font-family: 'HSESans', sans-serif !important;
}

.chatbot-container .chatbot .bubble-wrap {
    background-color: #fafafa !important;
}

.chatbot-container .chatbot .wrapper > label {
    background-color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    color: #fff !important;
}

.chatbot-container .chatbot .placeholder-content {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

.message-container {
    align-items: center;
}

.message-container > div {
    background-color: #fafafa !important;
    border: 1px solid #363636 !important;
}

.message-container > div > div {
    background-color: #fafafa !important;
}

.message-container > div:focus {
    border: 1px solid var(--main-color) !important;
}

.message-container .input-container > textarea {
    background-color: #fafafa !important;
    font-family: 'HSESans', sans-serif !important;
    color: #363636;
}

.message-container .wrap {
    background-color: #fafafa !important;
}

.message-wrap .message {
    background-color: #fafafa !important;
}

.chatbot-container .image-preview {
    background-color: #fafafa !important;
}

.chatbot-container .icon-button-wrapper {
    border: none !important;
}

.chatbot-container .icon-button-wrapper > button {
    background-color: var(--main-color);
    border-color: var(--additional-color);
    border-width: 0.5px;
}

.chatbot-container .icon-button-wrapper > button:hover {
    background-color: var(--additional-color);
}

button.send_message {
    display: contents;
}

button.send_message > img {
    width: 36px;
    height: 36px;
    transition: all 0.3s ease;
}

.chatbot-container .progress-text {
    background-color: #fafafa !important;
}

.message-container .eta-bar {
    background-color: var(--main-color);
}

div.avatar-container {
    justify-content: center;
    align-items: center;
}

div.chatbot img[alt='bot avatar'],
div.chatbot img[alt='user avatar'] {
    width: 128px;
}

div.edu-group:not(:first-child) {
    margin-top: 10px;
}

div.edu-group > span {
    display: block;
    text-align: center;
    color: #000 !important;
    font-size: 18px;
    font-weight: bold;
}

div.subject-info {
    padding: 10px;
}

div.subject-info > div.info {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom-width: 3px;
    border-bottom-color: var(--main-color);
}

div.subject-info > div.info:last-child {
    border-bottom-width: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.subject-info > div.info > div.info-item:last-child,
div.subject-info > div.info > div.info-courses-grades:last-child {
    border-bottom: none;
}

div.subject-info > div.info > div.info-courses-grades,
div.subject-info > div.info > div.info-courses-grades-error {
    margin-left: 15px;
}

div.subject-info > div.info > div.info-item > span.label,
div.subject-info > div.info > div.info-courses-grades > span.label,
div.subject-info > div.info > div.info-skills > span.label,
div.subject-info > div.info > div.info-item-error > span.label,
div.subject-info > div.info > div.info-skills-error > span.label,
div.subject-info > div.info > div.info-number-education-error > span.label,
div.subject-info > div.info > div.info-courses-grades-error > span.label {
    font-weight: bold;
}

div.subject-info > div.info > div.info-item-error > span.label,
div.subject-info > div.info > div.info-skills-error > span.label,
div.subject-info > div.info > div.info-number-education-error > span.label,
div.subject-info > div.info > div.info-courses-grades-error > span.label {
    color: var(--color-accent);
}

div.subject-info > div.info > div.info-item > span.label,
div.subject-info > div.info > div.info-item > span.value,
div.subject-info > div.info > div.info-courses-grades > span.label,
div.subject-info > div.info > div.info-courses-grades > span.value,
div.subject-info > div.info > div.info-skills > span.label,
div.subject-info > div.info > div.info-item-error > span.label,
div.subject-info > div.info > div.info-skills-error > span.label,
div.subject-info > div.info > div.info-number-education-error > span.label,
div.subject-info > div.info > div.info-courses-grades-error > span.label {
    padding-left: 5px;
    padding-right: 5px;
}

div.subject-info > div.info > div.info-skills > span.value {
    display: contents;
}

div.subject-info > div.info > div.info-skills > span.value > span.skill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 4px;
    border-color: var(--main-color);
    background-color: #fafafa !important;
    border-style: solid;
    border-width: 2px;
    color: #000;
    margin: 10px 10px 0px 0px;
}

div.subject-info > div.info > div.info-skills > span.value > span.skill:last-child {
    margin-right: 0px;
}

.message-wrap .message > button {
    color: #000 !important;
}

.message.user .chatbot.prose p {
    color: #000 !important;
}

.info .info-skills > .label {
    color: #000 !important;
}

.info .info-item span,
.info .info-courses-grades span {
    color: #000 !important;
}

.message-container .error {
    background-color: #fafafa !important;
    font-family: 'HSESans', sans-serif !important;
    color: #000;
}

.row-1-container > div {
    background-color: #fafafa !important;
    border: none !important;
    padding: 20px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.settings-item {
    background-color: #fafafa !important;
}

.settings-item .has-info {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
}

.settings-item p {
    color: #000;
    font-family: 'HSESans', sans-serif !important;
}

.settings-item input {
    background-color: #fafafa !important;
    border: 1px solid #363636 !important;
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

.settings-item input:focus {
    background-color: #fafafa !important;
    border: 1px solid var(--main-color) !important;
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

.dropdown-models,
.dropdown-courses-grades {
    background-color: #fafafa !important;
}

.dropdown-models .has-info,
.dropdown-courses-grades .has-info {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
}

.dropdown-models p,
.dropdown-courses-grades p {
    color: #000;
    font-family: 'HSESans', sans-serif !important;
}

.dropdown-models .wrap {
    background-color: #fafafa !important;
    height: 42px;
    border: 1px solid #363636 !important;
    font-family: 'HSESans', sans-serif !important;
}

.dropdown-models .wrap .options {
    background-color: #fafafa !important;
    margin-top: 5px;
}

.dropdown-models .wrap .options > li {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
    background-color: #fafafa !important;
}

.dropdown-models .wrap .options > li.selected {
    background-color: #dfdede !important;
}

.dropdown-models .wrap .options > li:hover {
    background-color: #dfdede !important;
}

.dropdown-models .wrap input {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

.dropdown-models .secondary-wrap input:disabled {
    color: #363636 !important;
    -webkit-text-fill-color: #363636 !important;
}

.dropdown-models .dropdown-arrow {
    color: #363636;
}

.dropdown-courses-grades .wrap {
    background-color: #fafafa !important;
    border: 1px solid #363636 !important;
    font-family: 'HSESans', sans-serif !important;
}

.dropdown-courses-grades .wrap .options {
    background-color: #fafafa !important;
    margin-top: 5px;
}

.dropdown-courses-grades .wrap .options > li {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
    background-color: #fafafa !important;
}

.dropdown-courses-grades .wrap .options > li.selected {
    background-color: #dfdede !important;
}

.dropdown-courses-grades .wrap .options > li:hover {
    background-color: #dfdede !important;
}

.dropdown-courses-grades .wrap input {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

.dropdown-courses-grades .secondary-wrap input:disabled {
    color: #363636 !important;
    -webkit-text-fill-color: #363636 !important;
}

.dropdown-courses-grades .dropdown-arrow {
    color: #363636;
}

.dropdown-courses-grades .token {
    border-radius: 4px;
    border-color: var(--main-color);
    background-color: #fafafa !important;
}

.dropdown-courses-grades .token > span {
    font-family: 'HSESans', sans-serif !important;
    color: #000;
}

.dropdown-courses-grades .token-remove {
    background-color: var(--main-color);
}

.dropdown-courses-grades .token-remove > svg {
    fill: #fafafa !important;
}

.requirements-dataframe .table-wrap {
    font-family: 'HSESans', sans-serif !important;
    border: none !important;
}

.requirements-dataframe .table-wrap .thead > tr > th {
    background-color: #fafafa !important;
    color: #000;
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600;
}

.requirements-dataframe {
    padding: 20px 10px 25px 10px;
    background-color: #fafafa !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.requirements-dataframe .table-wrap .tbody > tr > td {
    background-color: #fafafa !important;
    color: #000;
}

.requirements-dataframe .table-wrap .tbody > tr > td p {
    color: #000;
}

.show-api,
.built-with {
    display: none !important;
    opacity: 0 !important;
}

.svelte-zyxd38.margin > svg > g > path {
    fill: var(--main-color);
}

.message-container .svelte-zyxd38.margin > svg > g > path {
    fill: var(--gray-25);
}
