@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-SemiBold.otf') format('opentype');
    font-weight: 600; /* Полужирный */
    font-style: normal;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Black.otf') format('opentype');
    font-weight: 900; /* Очень жирный */
    font-style: normal;
}

@font-face {
    font-family: 'HSESans';
    src: url('/file=fonts/HSE_Sans/HSESans-Thin.otf') format('opentype');
    font-weight: 100; /* Очень тонкий */
    font-style: normal;
}

:root {
    --main-color: #0F2D69; /* Основной цвет */
    --additional-color: #001e99; /* Дополнительный цвет */
    --bg-color: #eeeeee; /* Серый 10% */
    --gray-50: #7f7f7f; /* Серый 50% */
    --gray-25: #bfbfbf; /* Серый 25% */
}

gradio-app {
    background-color: var(--bg-color) !important;
}
.gradio-container {
    color: var(--main-color) !important;
}

header {
    display: flex;
    border-bottom: 2px solid var(--gray-50); /*Нижняя граница */
    font-family: 'HSESans', sans-serif !important; /* Используем шрифт HSESans */
    color: var(--main-color);
    margin-bottom: 20px;
}


header > div {
    display: flex;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 20px 0;
    gap: 10px; /* Отступ между логотипом и текстом */
    border-right: 2px solid var(--main-color);
}

div.logo > img {
    width: 64px;
}

.logo-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color); /* Основной цвет текста */
    text-transform: uppercase;
    text-align: left;
    line-height: 1.2;
}

.header-text {
    display: flex;
    align-items: center;
    width: 40%;
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
    color: var(--main-color); /* Основной цвет текста */
    text-transform: uppercase;
    text-align: left;
    line-height: 1.2;
    border-right: 2px solid var(--main-color);
}

.header-link {
    width: 10%;
    margin-left: 15px;
    padding: 20px 0;
    /* border-right: 2px solid var(--main-color); */

}

.header-link a {
    font-size: 16px;
    color: black; /* Дополнительный цвет текста */
    text-decoration: none;
    font-weight: 600; /* Полужирный */
}

.header-link a:hover {
    color: var(--additional-color); /* Дополнительный цвет текста */
}

.tab-container>button {
    color: #000;
    font-family: 'HSESans', sans-serif !important;
}
.tab-container>button:hover {
    background-color: var(--main-color);
}
.tab-container>button.selected:hover {
    color: #fff;
}

.selected.svelte-ct9gpx.svelte-ct9gpx {
    color: var(--main-color);
}
.selected.svelte-ct9gpx.svelte-ct9gpx:after {
    background-color: var(--main-color);
}

.svelte-1ed2p3z h1{
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important; /* Используем шрифт HSESans */
}

.svelte-uqf9ro h2{
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important; /* Используем шрифт HSESans */
    font-weight: 600; /* Полужирный */
}

.user-container>div{
    background-color: #fafafa !important;
    border: none !important;
    padding: 20px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.user-info {
    background-color: #fafafa !important;
}

.user-info .has-info {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600; /* Полужирный */
}

.user-info p {
    color: #000;
    font-family: 'HSESans', sans-serif !important;
}

.user-info input {
    background-color: #fafafa !important;
    border: 1px solid #363636 !important;
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

.user-info input:focus {
    background-color: #fafafa !important;
    border: 1px solid var(--main-color) !important;
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

.dropdown-user {
    background-color: #fafafa !important;
}

.dropdown-user .has-info {
    color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
    font-weight: 600; /* Полужирный */
}

.dropdown-user p {
    color: #000;
    font-family: 'HSESans', sans-serif !important;
}
.dropdown-user .wrap {
    background-color: #fafafa !important;
    height: 42px;
    border: 1px solid #363636 !important;
    font-family: 'HSESans', sans-serif !important;
}

.dropdown-user .wrap .options {
    background-color: #fafafa !important;
    margin-top: 5px;
}
.dropdown-user .wrap .options > li {
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
    background-color: #fafafa !important;
}

.dropdown-user .wrap .options > li.selected {
    background-color: #dfdede !important;
}

.dropdown-user .wrap .options > li:hover{
    background-color: #dfdede !important;
}

.dropdown-user .wrap input{
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}

.dropdown-user .secondary-wrap input:disabled{
    color: #363636 !important;
    -webkit-text-fill-color: #363636 !important;
}

.dropdown-user .dropdown-arrow {
    color: #363636;
}
.noti_err {
    color: var(--additional-color);
    font-family: 'HSESans', sans-serif !important;
}
.noti_true {
    color: #006900;
    font-family: 'HSESans', sans-serif !important;
}

div.app-flex-container {
    display: flex;
    gap: 6px;
}

.auth-container {
    margin-top: 10px;
}
button.auth {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'HSESans', sans-serif !important;
    border: var(--button-border-width) solid var(--button-primary-border-color);
    background: var(--main-color);
    color: var(--button-primary-text-color);
    border-radius: 8px;
    transition: all 0.3s ease;
}

button.auth[disabled],
button.send_message[disabled] > img {
    cursor: not-allowed;
    opacity: 0.6;
}

button.auth:hover:not([disabled]) {
    border-color: var(--button-primary-border-color-hover);
    background: var(--additional-color);
    color: var(--button-primary-text-color-hover);
}

button.auth:active:not([disabled]) {
    transform: scale(0.98);
}

.chatbot-container .chatbot {
    background-color: #fafafa !important;
    border: none !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    font-family: 'HSESans', sans-serif !important;
}
.chatbot-container .chatbot .bubble-wrap {
    background-color: #fafafa !important;
    /* font-family: 'HSESans', sans-serif !important; */
}
.chatbot-container .chatbot .wrapper >label {
    background-color: var(--main-color);
    font-family: 'HSESans', sans-serif !important;
}

.chatbot-container .chatbot .placeholder-content{
    color: #363636;
    font-family: 'HSESans', sans-serif !important;
}
.message-container {
    align-items: center;
}
.message-container>div {
    background-color: #fafafa !important;
    border: 1px solid #363636 !important;
}
.message-container>div>div {
    background-color: #fafafa !important;
}
.message-container>div:focus {
    border: 1px solid var(--main-color) !important;
}
.message-container .input-container>textarea {
    background-color: #fafafa !important;
    font-family: 'HSESans', sans-serif !important;
    color: #363636;
}
.message-container .wrap {
    background-color: #fafafa !important;
}
button.send_message {
    display: contents;
}

button.send_message > img {
    width: 36px;
    height: 36px;
    transition: all 0.3s ease;
}

div.avatar-container {
    justify-content: center;
    align-items: center;
}

div.chatbot img[alt="bot avatar"],
div.chatbot img[alt="user avatar"] {
    width: 128px;
}

div.edu-group:not(:first-child) {
    margin-top: 10px;
}

div.edu-group > span {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

div.subject-info {
    padding: 10px;
}

div.subject-info > div.info {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom-width: 3px;
    border-bottom-color: var(--border-color-primary);
}

div.subject-info > div.info:last-child {
    border-bottom-width: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.subject-info > div.info > div.info-item:last-child {
    border-bottom: none;
}

div.subject-info > div.info > div.info-item > span.label,
div.subject-info > div.info > div.info-skills > span.label,
div.subject-info > div.info > div.info-item-error > span.label,
div.subject-info > div.info > div.info-skills-error > span.label,
div.subject-info > div.info > div.info-number-education-error > span.label {
    font-weight: bold;
}

div.subject-info > div.info > div.info-item-error > span.label,
div.subject-info > div.info > div.info-skills-error > span.label,
div.subject-info > div.info > div.info-number-education-error > span.label {
    color: var(--color-accent);
}

div.subject-info > div.info > div.info-item > span.label,
div.subject-info > div.info > div.info-item > span.value,
div.subject-info > div.info > div.info-skills > span.label,
div.subject-info > div.info > div.info-item-error > span.label,
div.subject-info > div.info > div.info-skills-error > span.label,
div.subject-info > div.info > div.info-number-education-error > span.label {
    padding-left: 5px;
    padding-right: 5px;
}

div.subject-info > div.info > div.info-skills > span.value {
    display: contents;
}

div.subject-info > div.info > div.info-skills > span.value > span.skill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: var(--block-border-color);
    background-color: var(--input-background-fill);
    border-style: solid;
    border-width: var(--block-border-width);
    color: var(--body-text-color);
    margin: 10px 10px 0px 0px;
}

div.subject-info > div.info > div.info-skills > span.value > span.skill:last-child {
    margin-right: 0px;
}
